# Environments
venv/
env/
.env

# Data & Models
data/raw/*

# Un-ignore all datasets, processed datasets & model artifacts
!data/datasets/
!data/datasets/**
!data/processed/
!data/processed/**
!data/models/
!data/models/**

# Database files
*.sqlite
*.db

# Python
__pycache__/
*.pyc
